[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=ula
WorkingDirectory=/home/ula/minecraft-server
ExecStart=/usr/bin/java -Xmx10000M -Xms1024M -jar server.jar nogui
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
